---  
import { Image } from "astro:assets";
import hero from '../assets/landing-hero.svg';  
---  
  
<section class="hero py-12 lg:py-20">  
  <div class="hero-content container mx-auto flex flex-col-reverse lg:flex-row items-center px-4 gap-8">  
    <!-- Text -->  
    <div class="lg:w-1/2 flex flex-col justify-center text-center lg:text-left">  
      <h1 class="text-4xl md:text-5xl font-bold leading-tight">
        Welcome to Mahiro Archive
      </h1>
      <p class="mt-4 text-base md:text-lg max-w-[600px] mx-auto lg:mx-0">
        為什麼要演奏春日影
      </p>
    </div>  
  
    <!-- Image -->  
    <div class="lg:w-1/2">  
      <Image src={hero} alt="StarGarden hero illustration" class="rounded-xl shadow-md w-full object-cover" />  
    </div>  
  </div>  
</section>